<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Drawing</title>
</head>
<body>
<h1>Please draw in the border.</h1>
<h3>This page will connect to 'http://localhost', so please change the <br>address to the corresponding static IP address of your server.</h3>
<div>
<p class = "solid">
    <canvas id="canvas1" width="720" height="480"></canvas>
</p>
</div>
<div>
<table id="table" style = "border-style: solid;width:360px; height:30px">
</table>
</div>
<button onclick="emitcleanBoard()">Clean the Whiteboard</button>
<script src="/socket.io/lib/socket.io.js"></script>
<script src="/javascripts/canvasonclient.js"></script>
</body>
</html>