<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Drawing</title>
</head>
<body>
<h1>Please draw in the border.</h1>
<h3>This page will connect to 'http://localhost', so please change the <br>address(in 26th line) to the corresponding static IP address of your server.</h3>
<p class = "solid">
    <canvas id="canvas1" width="720" height="480"></canvas>
</p>
<button onclick="emitcleanBoard()">Clean the Whiteboard</button>
<script src="/socket.io/lib/socket.io.js"></script>
<script>
    //vars
    var canvas1=document.getElementById('canvas1');
    var context1=canvas1.getContext('2d');
    var readytoDraw = false;
    var userName = "New User";
    var canvasX = new Array();
    var canvasY = new Array();
    var isContinuous = new Array();
    var track = {};
    //socket.io
    var socket = io.connect('http://localhost');
    socket.on('news', function (data) {
        socket.emit('webBegin',{'username':userName});
    });
    socket.on('echo', function (data) {
        pushPoints(data.x,data.y,data.isContinuous);
        draw(context1,canvasX,canvasY,isContinuous,track);
    });
    socket.on('someoneJoin', function (data) {
        alert(data.username + " joined us.");
    });
    socket.on('someoneLeft', function (data) {
        alert(data.username + " left.");
    });
    socket.on('cleanBoard', function () {
        cleanBoard();
    });
    var sentData = function(CoorX,CoorY,isContinuous)
    {
        socket.emit('gotData',{'x':CoorX, 'y':CoorY, 'isContinuous':isContinuous});
    }
    //canvas events
    //context,xArray,yArray,isContinuous,track
    canvas1.onmousedown = function(e)
    {
        readytoDraw = true;
        sentData(e.pageX-this.offsetLeft, e.pageY-this.offsetTop,false);
        //pushPoints(e.pageX-this.offsetLeft, e.pageY-this.offsetTop,false);
        //draw(context1,canvasX,canvasY,isContinuous,track);
    }
    canvas1.onmousemove = function(e)
    {
        if(readytoDraw){
            sentData(e.pageX-this.offsetLeft, e.pageY-this.offsetTop,true);
        }
    }
    canvas1.onmouseup = function()
    {
        readytoDraw = false;
    }
    canvas1.onmouseout = function()
    {
        readytoDraw = false;
    }
    var pushPoints = function(x,y,con){
        canvasX.push(x);
        canvasY.push(y);
        isContinuous.push(con);
    }
    var draw = function(context,xArray,yArray,con,track){
        context.strokeStyle = '#000000';
        context.lineJoin = 'round';
        context.lineWidth = 3;
        while(xArray.length>0){
            track.preX = track.x;
            track.preY = track.y;
            track.x = xArray.pop();
            track.y = yArray.pop();
            track.isContinuous = isContinuous.pop();
            context.beginPath();
            if(track.isContinuous){
                context.moveTo(track.preX,track.preY);
            }
            else{
                context.moveTo(track.x+1,track.y+1);
            }
            context.lineTo(track.x,track.y);
            context.closePath();
            context.stroke();
        }
    }
    var emitcleanBoard = function()
    {
        socket.emit('cleanBoard');
    }
    var cleanBoard = function()
    {
        var i=0;
        self.setInterval(function(){
            context1.clearRect(i,0,i+120,480);
            i+=48;
            if(i==720) self.clearInterval();
        },60);

    }

</script>
</body>
</html>